<h2 style="margin-left: -5%;">New User Details</h2>
<%= form_with model: @user do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <div>
</div>
<% end %>
