<h2>Booking System</h2>

<p class="link"><%= link_to "Users", users_path %></p>
<p class="link"><%= link_to "Categories", categories_path %></p>
<p class="link"><%= link_to "Events", events_path %></p>
<p class="link"><%= link_to "Roles", roles_path %></p>
<p class="link"><%= link_to "Bookings", bookings_path %></p>
<p class="link"><%= link_to "Cities", cities_path %></p>
<p class="link"><%= link_to "Locations", locations_path %></p>
<p class="link"><%= link_to "Notifications", notifications_path %></p>
