<h2 style="margin-left: -5%;">New Location Details</h2>
<%= form_with model: @location do |form| %>
  <p>
    <%= form.label :city_id %><br>
    <%= form.text_field :city_id %>
  </p>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>
  <p>
    <%= form.label :capacity %><br>
    <%= form.text_field :capacity %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <div>
</div>
<% end %>
